.App {
  text-align: center;
}

.on-the-air{
  height: 100vh;
  max-height: 100%;
  background-color:black;
}

.on-air-container{
  padding: 100px;
  vertical-align: center;
  margin: 10% 10%;

  font-size: 20em;
}


.on .ota-text{
  color:red;
}

.on .ota-border{
  border: 25px ridge #ab0e0e;
}

.off .ota-text{
  color: darkgrey;
}

.off .ota-border{
  border: 5px ridge dimgray;
}

html, body{
  height: 100%;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#root{
  height: 100%;
}